*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    width: 50%;
    height: 500px;
    background-color: peachpuff;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
    /* flex-direction: row (valor_por_defecto) | column | row-reverse | column-reverse */
    /*flex-wrap: wrap;*/
    /* flex-wrap: Mantiene los elementos en su tamaño y genera una segunda fila si es necesario * /
    /* flex-direction: wrap | nowrap | wrap-reverse  */
    /* flex-flow: <valor_flex-direction> | <valor_flex-wrap> */
    /*justify-content: baseline;*/
    /* justify-content: trabaja sobre el eje principal (horizontal) */
    /* justify-content: center | space-around | space-between | space-evenly | stretch (valor_por_defecto) | baseline */
    /*align-items: center;*/
    /* align-items: trabaja sobre el eje secundario (vertical) */
    /* justify-content: flex-end (derecha) | flex-start (izquierda)| center | stretch (valor_por_defecto)  */
    /*align-content: flex-end;*/
    /* align-content: trabaja sobre el eje principal y secundario (vertical) */
    /* Se emplea en flex-direction: row; flex-wrap: wrap; y justify-content */
    /* justify-content: space-around | space-between | space-evenly | stretch (valor_por_defecto) */
}

.caja{
    width: 100px;
    /*height: 100px;*/
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: peru;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
}

.caja:nth-child(1){
    /*font-size: 30px;*/
    order: 1;
}

.caja:nth-child(2){
    /*font-size: 10px;*/
    order: 4;
    flex-shrink: 0; /* Que tanto se encoge un elemento. Establecer en 0 */
}

.caja:nth-child(3){
    /*font-size: 40px;*/
    order: -1;
    /*flex-grow: 1; Derecho de espacio */
}

.caja:nth-child(4){
    /*font-size: 40px;*/
    order: 2;
    flex-basis: 400px; /* Ancho en flexbox */
    /* flex: <valor_flex_grow> | <valor_flex_shrink> |  <valor_flex_basis> */
}